.archive {
  .page__title {
    margin-bottom: 0.5em;
  }
}

/* This rule fixes the layout for pages with a sidebar */
.sidebar + .archive {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - 320px);
    padding-right: 2em; // Replaced the undefined variable
  }
}